.bannernew{
  .steps{
    width: 85%;
  }
  .sizelist{
    overflow: hidden;
    margin: 40px 0;
    li{
      float: left;
      width: 110px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border: 1px solid #eee;
      margin: 5px 10px;
      cursor: pointer;
      &:hover{
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        border-color: #eee;
        font-weight: bold;        
      }
      &.active{
        background: #2db7f5;
        color: #fff;
        border-color: #2db7f5;        
        font-weight: bold;
      }
    }
  }

  .fileup{
    width: 400px;
    height: 200px;
  }
}