.bannernew{
  .steps{
    width: 85%;
  }
  .stepct{
    .subtitle{
      margin: 40px 0;
      font-size: 17px;
      b{
        color: #2db7f5;
        margin-right: 40px;
      }
    }
    .sizetitle{
      font-size: 13px;
    }
    &.step3{
      section{
        margin: 40px;
      }
      .title{
        width: 60%;
      }
      .opts{
        margin-left: 200px;
        button{
          margin: 0 20px;
        }
      }
    }
  }
  .solutionlist{
    overflow: hidden;
    margin: 10px 0;
    li{
      float: left;
      min-width: 110px;
      padding: 0 10px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      border: 1px solid #eee;
      margin: 5px 10px;
      cursor: pointer;
      &:hover{
        box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
        border-color: #eee;
        font-weight: bold;        
      }
      &.active{
        background: #2db7f5;
        color: #fff;
        border-color: #2db7f5;        
        font-weight: bold;
      }
    }
  }

  .sizelist{
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 40px;
    li{
      float: left;
      margin: 3px 5px 3px 0;
      padding: 5px 10px;
      border-left: 1px solid #eee;
    }
  }

  .fileup{
    width: 400px;
    height: 200px;
  }
}