.region{
    .city{
        width: 300px;
        margin-left: 30px;
    }
    .ip{
        width: 300px;
        min-height: 60px;
        margin-left: 30px;
        textarea{
            min-height: 60px;
        }
    }

}
#yac-content{
    .ant-select-tree{
        overflow: hidden;
    }
    .ant-select-tree li{
        float: left;
        margin: 3px 5px;
        min-width: 100px;
    }
}

