@containerW: 1024px;

.header{
    font-size: 18px;
    line-height: 45px;
    .container{
        width: @containerW;
        margin: 0 auto;
    }
    .header-logo{
        font-size: 30px;
        float: left;
    }
}

.header-user{
    float: right;
    span{
        margin-right: 30px;
    }
}